h1 {
    /* border: 1px solid black; */
    padding: 0px;
    display: flex;
    width: 50%;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid #C7B9E1;
    border-radius: 30px;
    align-items: center;
}
form div {
    display: flex;
    flex-direction: column;
    /* border: 1px solid pink; */
    width: 70%;
}
.div-champ {
    width: 100%;
    /* border: 1px solid red; */
    align-content: space-between;
    margin-bottom: 15px;
}
.div-champ label {
    font-weight: bold;
    margin-bottom: 11px;
    font-size: 14px;
}
.div-champ input {
    padding: 10px;
    border: none;
    outline: 2px solid #D9D9D9;
    border-radius: 20px;
}
span a {
    text-decoration: none;
    color: #095D8C;
}
.button {
    height: 35px;
    background-color: #FB0000;
    color: white;
    border: none;
    border-radius: 4px;
    width: 23%;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 25px;
}